body {
  font-family: "Montserrat", sans-serif;
  color: #111;
  background-color: #fff;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-title-second {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
}

.section-title span {
  color: #fd9222;
}

/* ---------- HEADER ---------- */

.header {
}
.header-nav {
}
.header-logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
}
.header-logo-italic {
  font-style: italic;
}
.header-menu-list {
}
.header-menu-item {
}
.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #111;
}

.nav-link:hover,
.nav-link:focus {
  color: #fd9222;
}

/* ---------- HERO ---------- */

.hero {
  background: #1e1823;
}
.hero-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: #fff;
}
.hero-btn {
  background: #fd9222;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
}
.hero-btn-link {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
}
.hero-btn-scroll {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: #fff;
}

/* ---------- FEATURES ---------- */
.features {
  background: #1e1823;
}

.features-title {
}

.features-list {
}

.features-item {
}

.features-subtitle {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
}

.features-item-text {
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}

/* ---------- TASTE ---------- */
.taste {
}

.taste-title {
}

.taste-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

.taste-list {
}

.taste-item {
}

.taste-image {
}

.taste-subtitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #111;
}

/* ---------- MADE ---------- */

.made {
}

.made-title {
}

.made-image {
}

.made-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
}

.made-list {
}

.made-item {
}

.made-item-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

/* ---------- LOVED ---------- */

.loved {
}

.loved-title {
}

.loved-list {
}

.loved-item {
}

.loved-image {
}

.loved-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
}

.loved-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
}

.loved-btn {
  font-weight: 600;
  font-size: 18px;
  color: #111;
  cursor: pointer;
}

/* ---------- FOOTER ---------- */

.footer {
  background: #1e1823;
  color: #fff;
}
.footer-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.02em;
}

.footer-title span {
  color: #fd9222;
}

.footer-subtitle {
  font-weight: 500;
  line-height: 1.29;
}
.footer-address {
}
.footer-address-list {
}
.footer-address-item {
}
.footer-address-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #fff;
}
.footer-menu-list {
}
.footer-menu-item {
}
.footer-menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #fff;
}
